

h1{
    font-family:'Radio Big Canada', sans-serif;
}

a{
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar a{
    margin-left: 10%;
    margin-right: 10%;
}