html {
    height: 100%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior:smooth
}
body{
    height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
/*index.thml*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(240, 240, 240, 0.25) ;
}
.navbar a{
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    padding: 1%;
    font-weight: bold;
    font-family:'Radio Big Canada', sans-serif;
}
.navbar a:hover{
    padding: 1%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

header{
    height: 7%;
}

h1{
    font-family:'Radio Big Canada', sans-serif;
    font-size: 8em;
    margin-left: 1%;
}
.prenom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textProfil{
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    width: 25%;
    height: 15%;
    padding: 6px;
    padding-left: 1%;
}

.infoProfil{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10%;
    margin-bottom: 10%;
    font-family: "Rubik", sans-serif;
}

.myWork h2{
    text-align: center;
    margin-bottom: 3%;
}

.listWork{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    margin-bottom: 15%;
}

.listWork a{
    display: flex;
    height: 3.5em; 
    justify-content: center;
    align-items: center;
    border :2px rgba(240, 240, 240, 0.25) solid;
}

.listWork a:hover{
    background-color: rgba(171,176,181,0.25);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border: 0;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content:right;
    padding-bottom: 9%;
    background-color: rgba(240, 240, 240, 0.25) ;
}

footer h3{
    margin: 5%;
    margin-top: 4%;
}


/*Contact.html*/
.formContact{
    margin-top: 8%;
    display: flex;
    flex-flow: column nowrap;
    align-items :center;
}
.formContact p{
    font-style: italic;
    padding-bottom: 8px;
    text-align: center;
    color: bisque;
}
.formContact label{
    margin-top: 10px;
}
.formContact input,.formContact textarea {
    margin-bottom: 10px;
    border-radius: 6px;
}
.formContact legend{
    border: 2px rgb(129, 125, 125) solid;
    border-radius: 4px;
    padding: 4px;
}
.formContact fieldset{
    border: 2px rgb(129, 125, 125) solid;
    border-radius: 4px;
    margin-bottom: 20px;
    border-radius: 6px;
}
.formContact textarea{
    width: 25em;
    height: 5em;
}

/*pages de langages*/
.titreLangage{
    margin-bottom: 15%;
    margin-left: 10%;
    font-size: larger;
}

.projet_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
}

.projet_1 p{
    height: 15%;
    width: 80%;
    border: 2px rgb(107, 104, 104) solid;
    border-radius: 6px;
    padding: 1%;
}
.projet_1 h2{
    margin-top: 300px;
    margin-left: 50px;
}

.p1_github-logo{
    margin-left: 50px;
    height: 150px;
    width: 150px;
}

.projet_2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
    margin-top: 2%;
}

.projet_2 p{
    height: 20%;
    width: 80%;
    border: 2px rgb(107, 104, 104) solid;
    padding: 1%;
}

.projet_2 h2{
    text-align: end;
    margin-right: 25%;
}
.p2_description{
    margin-top: 12%;
}

.p2_github-logo{
    margin-left: 50%;
    height: 150px;
    width: 150px;   
}


.conteneurImagesProjets{
    margin-top: 5%;
    position: relative;
    height: 600px;
    width: 700px;
}

.conteneurImagesProjets img{
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteneurImagesProjets img:hover{
    transform: translate(-10px, -10px);
}

.logoImageProjet img{
    position: absolute;
    right: 70px;
    top: 0;
    z-index: 2;
}

.codeImageProjet img{
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 1;
    width: 400px;
}

.affichageImageProjet img{
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 500px;
    z-index: 3;
}