html {
    height: 100%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior:smooth
}
body{
    height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
/*index.thml*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(240, 240, 240, 0.25) ;
}
.navbar a{
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    padding: 1%;
    font-weight: bold;
    font-family:'Radio Big Canada', sans-serif;
}
.navbar a:hover{
    padding: 1%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

header{
    height: 7%;
}

h1{
    font-family:'Radio Big Canada', sans-serif;
    font-size: 8em;
    margin-left: 1%;
}
.prenom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textProfil{
    width: 25%;
    height: 15%;
    border: 2px rgba(248, 248, 248, 0.555) dotted;
}

.infoProfil{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3%;
}

.myWork h2{
    text-align: center;
    margin-bottom: 3%;
}

.listWork{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    margin-bottom: 15%;
}

.listWork a{
    display: flex;
    height: 3.5em; 
    justify-content: center;
    align-items: center;
    border :2px rgba(240, 240, 240, 0.25) solid;
}

.listWork a:hover{
    background-color: rgba(171,176,181,0.25);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content:right;
    padding-bottom: 9%;
    background-color: rgba(240, 240, 240, 0.25) ;
}

footer h3{
    margin: 5%;
    margin-top: 4%;
}


/*Contact.html*/
.formContact{
    margin-top: 15%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

/*pages de langages*/

/* .projet_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.projet_1 h2{
    margin-top: 300px;
}

.titreLangage{
    margin-bottom: 20%;
    margin-left: 10%;
}

.conteneurImagesProjets{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 600px;
    width: 700px;
}

.conteneurImagesProjets img{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logoImageProjet img{
    position: absolute;
    right: 70px;
    top: 0;
    z-index: 2;
}

.codeImageProjet img{
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 3;
    width: 400px;
}

.affichageImageProjet img{
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 500px;
    z-index: 1;
}